flows.json
[{"id":"22552edf.71d53a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3bb390a0.663818","type":"function","z":"22552edf.71d53a","name":"PreToken","func":"global.set(\"ct\",msg.payload.ct)\nglobal.set(\"k\",msg.payload.k)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"min\",msg.payload.min)\nglobal.set(\"max\",msg.payload.max)\nglobal.set(\"avg\",msg.payload.avg)\nvar apikey=\"FO29Si0ODFVgVlHW9ndnHSCZbAP-1bPXbBDj91r_obCW\";\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":340,"wires":[["63c94aa3.8ef8b4"]]},{"id":"63c94aa3.8ef8b4","type":"http request","z":"22552edf.71d53a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":328.9999952316284,"wires":[["e8b5be9b.8c3c48"]]},{"id":"3fc08d1a.99cc2a","type":"debug","z":"22552edf.71d53a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":80,"wires":[]},{"id":"e8b5be9b.8c3c48","type":"function","z":"22552edf.71d53a","name":"Pre Prediction","func":"var ct = global.get('ct')\nvar k = global.get('k')\nvar yr = global.get('yr')\nvar ps = global.get('ps')\nvar min = global.get('min')\nvar max = global.get('max')\nvar avg = global.get('avg')\nvar token=msg.payload.access_token\nvar instance_id=\"54df0245-37e1-4c85-8ce6-ab9e28fe0072\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"count\", \"km\", \"year\", \"powerPS\", \"minPrice\", \"maxPrice\", \"avgPrice\"], \"values\": [[ct,k,yr,ps,min,max,avg]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":291.9999990463257,"wires":[["1d9f6304.b51165"]]},{"id":"1d9f6304.b51165","type":"http request","z":"22552edf.71d53a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/f2dae07c-26ad-4652-8fc7-2ea9cc4da7bb/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":235.99999904632568,"wires":[["e48f136c.9e5d1","3fc08d1a.99cc2a"]]},{"id":"8319f4f3.d70be8","type":"ui_form","z":"22552edf.71d53a","name":"","label":"","group":"c4eb263a.20321","order":1,"width":0,"height":0,"options":[{"label":"count","value":"ct","type":"number","required":true,"rows":null},{"label":"km","value":"k","type":"number","required":true,"rows":null},{"label":"year","value":"yr","type":"number","required":true,"rows":null},{"label":"powerPS","value":"ps","type":"number","required":true,"rows":null},{"label":"minPrice","value":"min","type":"number","required":true,"rows":null},{"label":"maxPrice","value":"max","type":"number","required":true,"rows":null},{"label":"avgPrice","value":"avg","type":"number","required":true,"rows":null}],"formValue":{"ct":"","k":"","yr":"","ps":"","min":"","max":"","avg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":382.9999952316284,"wires":[["3bb390a0.663818"]]},{"id":"e015897f.531598","type":"ui_text","z":"22552edf.71d53a","group":"c4eb263a.20321","order":2,"width":0,"height":0,"name":"","label":"Price","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":388.20000743865967,"wires":[]},{"id":"e48f136c.9e5d1","type":"function","z":"22552edf.71d53a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":131.60000133514404,"wires":[["e015897f.531598"]]},{"id":"c4eb263a.20321","type":"ui_group","z":"","name":"Resale Value Prediction","tab":"dcc341f2.928528","order":1,"disp":true,"width":"6","collapse":false},{"id":"dcc341f2.928528","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]